.label {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: auto auto 10px auto;
}

.cle {
    width: 300px;
    background-color: rgba(30, 127, 203, 0.8);
    border: solid #22427C 2px;
    color: white;
    height: 25px;
    font-size: 20px;
    margin: auto auto 25px auto;
    font-family: 'Lato', sans-serif, monospace;
}
.classConnection {
    border: solid #1E7FCB 3px;
    height: auto;
    width: 500px;
    margin: 50px auto auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explication{
    font-style: italic;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: rgba(30, 127, 203, 0.8);
    margin: 50px auto auto auto;
}
.titleEvent {
    color: #1E7FCB;
    text-decoration: underline;
}
.validateBouton {
    border: solid #1E7FCB 2px;
    background-color: rgba(30, 127, 203, 0.8);
    color: white;
    margin: auto auto 10px auto;
    width: 250px;
    height: 40px;
    font-size: 20px;
}

.validateBouton:hover {
    border: solid #22427C 2px;
    cursor: pointer;
    font-weight: bold;
}

.formulaire {
    display: flex;
    align-items: center;
    flex-direction: column;
}
